.container-markdown {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.container-markdown img {
    max-width: 100%;
    height: auto;
}