.main-bg {
    background-color: #242424 !important;
}

.editor-page {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    margin: 0;
}

.files-list-container {
    width: 30%;
}

.files-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items-files {
    list-style: none;
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
}